* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.topBar {
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 216, 245);
    z-index: -1;
    opacity: .85;
}
.items {
    display: flex;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
#items3 {
    font-size: 50px;
}
.container {
    /* border: 2px solid salmon; */
    height: 19vh;
    width: 100vw;
    /* background-color: rgb(69, 81, 77); */
   
    
}

.container::before{
    
    content: '';
    background-image: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?cs=srgb&dl=pexels-ella-olsson-1640777.jpg&fm=jpg') ;
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   

}
.container2{
    margin: 0px;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 2px solid greenyellow; */

    /* background-color: blue; */
}
 .heading {
    display: flex;
    color:red;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* margin-top: 15%;  */
    text-shadow: 2px 2px black;
    flex-direction: column;
} 
input[type=text]{
    border-radius: 20px;
    padding: 5px;
}
.heading h2{
   
}
.sidebar{
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2;
    height: 100vh;
    display: flex; 
     justify-content: space-around;
    align-items: center;


}
.sidebar ul{
    background-color: rgb(197, 241, 229);
    padding: 4px;
    /* margin: 3px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}
.sidebar ul li{
    list-style: none;
    padding: 2px;
    margin: 0px 3px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly;
    align-items: center; */

}
.sidebar img{
    height: 30px;
    width: 30px;
}
.container3{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid saddlebrown; */
    
}
.container3{
display: flex;
flex-direction: row;
background-color: rgb(224, 242, 236);
/* margin: 6px; */
/* padding: 6px; */
/* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(225, 90, 90)); */
background-image:linear-gradient(to right,rgb(251, 210, 217) , rgb(193, 74, 193));
}


.leftblock{
height: 100vh;
width: 40vw;
/* border: 2px solid darkblue; */
/* background-color: paleturquoise; */
display: flex;
justify-content: space-around;
flex-direction: row;
}
.block{
    /* border: 2px solid rebeccapurple; */
    border-left: 10px solid rgb(221, 122, 193);
    border-right: 10px solid rgb(221, 122, 193);
    height: 100vh;
    width: 20vw;
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
    /* z-index: -1; */
    background-color: rgb(243, 238, 238);
    animation-name: food;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
   
    /* transform: rotate(360deg); */
}
@keyframes food {
    from{
        height: 0px;
    }
    to{
        height: 100vh;
    }
    
}
.circle{
width: 20vw;
height: 40vh;
/* border: 2px solid salmon; */
background-color: yellow;
border-radius: 50%;
/* z-index: 6; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: -3px 3px goldenrod;
/* content: "";
position: absolute;
top: 0px;
left: 0px; */


}
.circle p:hover{
    cursor: pointer;
    transition-duration:1s ;
    transform: scale(1.3);
}
.circle p{
    font-size: 40px;
    font-family: 'Aleyna', sans-serif;
    /* font-weight: bold; */
    color: rgb(204, 154, 28);
    text-shadow: 1px 1px rgb(228, 198, 122);
   
}

.contentblock{
    height: 100vh;
    width: 60vw;
    /* border: 2px solid rgb(73, 206, 121); */
    /* background-color: rgb(218, 145, 169); */
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    
    /* padding: 10px; */

}
/* .contentblock::before{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5MWaN3VcDUroD-IMtYlKBcCM0gxs0qQa_uQ&usqp=CAU');
    position: absolute;
    opacity: 0.4;
} */

.photos{
    /* border: 2px solid black; */
    /* width: 40%; */
    text-align: center;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photos:hover{
    cursor: pointer;
    transition-duration: 2s;
    /* transition-timing-function: ease-in; */
    
    transform: scale(1.2);
    
}
.photos p{
    color: rgb(62, 8, 112);
    text-shadow: 2px 2px 2px  whitesmoke;
}
.photos p:hover{
    color: cornflowerblue;
}
#photos1 p{
     font-size: 30px;
     padding: 10px;
     margin: 2px;
     font-family: 'Kattyland', sans-serif;
    font-weight: bold;                                          
}
#photos2 p{
    font-size: 30px;
    padding: 10px;
    margin: 2px;
    font-family: 'Kattyland', sans-serif;
   font-weight: bold;                                          
}
#photos3 p{
    font-size: 30px;
    padding: 10px;
    margin: 2px;
    font-family: 'Kattyland', sans-serif;
   font-weight: bold;                                          
}
#photos4 p{
    font-size: 30px;
    padding: 10px;
    margin: 2px;
    font-family: 'Kattyland', sans-serif;
   font-weight: bold;                                          
}
#photos5 p{
    font-size: 30px;
    padding: 10px;
    margin: 2px;
    font-family: 'Kattyland', sans-serif;
   font-weight: bold;                                          
}
#photos6 p{
    font-size: 30px;
    padding: 10px;
    margin: 2px;
    font-family: 'Kattyland', sans-serif;
   font-weight: bold;                                          
}

.photos img{
    height: 35vh;
    width:19vw;
    border-radius: 25px;
    box-shadow: -3px 3px 2px black;
}
.subcol{
    display: flex;
    /* flex-direction: colum; */
    justify-content: space-between;
}
